@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Arimo);
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Anton);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:900);


html, body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.article_about {

	column-width: 150px;
	-webkit-column-width: 150px;
	-moz-column-width: 150px;
	column-gap: 30px;
	-webkit-column-gap: 30px;
	-moz-column-gap: 30px;
	column-count: 3;
	border-top: solid #fff 5px;
	border-bottom: solid #fff 5px;
	padding: 50px;
	font-family: 'Arimo', sans-serif;
	font-size: 20px;

}

.article_single {

	column-width: 150px;
	-webkit-column-width: 150px;
	-moz-column-width: 150px;
	column-gap: 30px;
	-webkit-column-gap: 30px;
	-moz-column-gap: 30px;
	font-family: 'Arimo', sans-serif;
	column-count: 2;


}


.reg-text p {
	
	column-width: 0 !important;
	-webkit-column-width: 0 !important;
	-moz-column-width: 0 !important;
	column-gap: 0 !important;
	-webkit-column-gap: 0 !important;
	-moz-column-gap: 0 !important;
	font-family: 'Arimo', sans-serif;
	column-count: 1 !important;




}


.entry-title {
	width: 300px;
}

.entry img {
	width: 100%;
	object-fit: cover;
}

.first-item {
	font-size: 5em;
}


.ghost-button {

	color: #fff;
	border: 1px solid #fff;
	font-size: 17px;
	padding: 7px 12px;
	font-weight: normal;
	margin-right: 12px;
	display: inline-block;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	min-width: 120px;

}



.ghost-button:hover {
	color: #000;
	background-color: pink;
	border-color: pink;
	text-decoration: none;
	-webkit-transition: background-color 0.5s linear; 
    -moz-transition: background-color 0.5s linear;
    -ms-transition: background-color 0.5s linear;
    -o-transition: background-color 0.5s linear;
     transition: background-color 0.5s linear;

}

.ghost-button-pink {

	color: #000;
	border: 1px solid #fff;
	font-size: 17px;
	padding: 7px 5px;
	font-weight: normal;
	margin-right: 12px;
	display: inline-block;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	min-width: 120px;
	background-color: pink;

}

.running_head_black {
	background-color: #000;
	display: block;
	padding: 35px 0 5px 0;
	margin: 4px 12px;
	width: 250px;
	line-height: 1.1em;
	font-family: Anton;
	color: pink;
	text-transform: uppercase;
}

.running_head_pink {
	background-color: pink;
	display: block;
	padding: 35px 0 5px 0;
	margin: 4px 12px;
	width: 250px;
	line-height: 1.1em;
	color: #000;
	text-transform: uppercase;
	font-family: Anton, sans-serif;
}

.blog-title {
	text-transform: uppercase;	
	/* line-height: 1.8; */
	color: pink;
	padding: 20px;
	font-size: 20px;
	font-family: 'Anton', sans-serif;
}

.recent-posts  a {
	color: pink;
}

.recent-posts a:hover {
	text-decoration: none;
	color: #fff;
	-webkit-transition: color 0.5s linear; 
    -moz-transition: color 0.5s linear;
    -ms-transition: color 0.5s linear;
    -o-transition: color 0.5s linear;
     transition: color 0.5s linear;

}


#featured_photo {
	position: relative;
	top: 5% !important;
}

.running_head_text {
	font-size: 15px;
	text-transform: uppercase;
	padding-left: 10px;

}

.running_head_text {
	position: relative;
	top: 50px;
}

#running_head_projects {
	position: relative;
	top: 0;
	left: -10px;
}

#container_titles {
	font-size: 30px;
	padding: 0;
}



.featured-thumbnail img {
	max-width: 100%;
	height: auto !important;
}

#page-contact {
		background: /* linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), */ url('../img/GrandCentral.jpg') center no-repeat;
		background-size: cover;
		

} 



.col-xs-6 {
	color: #fff;
}

.social {
	text-decoration: none;
	color: #fff;
}

.social li {
	display:  inline-block;
}

.entry-content {
	color: #fff;
}


/*............................. header.php......................... */
 

#bars {
	color: #fff;
	position:  fixed;
	top: 5%;
}

.navbar-fixed-top {
	display: none;
}


#menu-main-navigation {
	display: inline;

}


.navbar-header {
	padding: 10px !important;
}

.navbar-color {
	background-color: #212121 !important;
	border: none !important;
	background: rgb(0, 0, 0) !important;
   background: rgba(0, 0, 0, 0.9) !important;
}

#my-name {
	font-family:'Anton', sans-serif;
	font-size: 30px;
	color: pink;
	margin-top: 10%;


	}


.navbar-brand img {
	width: 100px;
	height: 100px;
	margin-top: -5%;
	display: none;
	
}

#toggle {
	margin-top: 2%;
	
}




#menu-main-navigation li a{
	color: #fff !important;
	position: relative;
	
}

#menu-main-navigation li a:hover {
	color:  pink !important;
	-webkit-transition: color 0.5s linear; 
    -moz-transition: color 0.5s linear;
    -ms-transition: color 0.5s linear;
    -o-transition: color 0.5s linear;
     transition: color 0.5s linear;
}



/*......................... nav overlay.............................. */

.button_container {
	position: fixed;
	top: 5%;
	right: 2%;
	height: 27px;
	width: 35px;
	cursor: pointer;
	z-index: 100;
	transition: opacity .25s ease;



	
}





.button_container:hover {
	opacity: .7;

	}





.button_container.active .top {
	transform: translateY(11px) translateX(0) rotate(45deg);

	
}

.button_container.active .middle {
	opacity: 0;
	background: #fff;

}

.button_container.active .bottom {
	transform: translateY(-11px) translateX(0) rotate(-45deg);
	
}

.button_container span {
	background: pink;
	border: none;
	height: 5px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: all .35s ease;
	cursor: pointer;
	
	
}

.button_container span:nth-of-type(2) {
	top: 11px;
}

.button_container span:nth-of-type(3) {
	top: 22px;
}

.overlay {
	position: fixed;
	background: #000;
	top: 0;
	left: 0;
	width: 100%;
	height: 0%;
	opacity: 0;
	visibility: hidden;
	transition: opacity .35s, visibility .35s, height .35s;
	overflow: hidden;
	z-index: 99;
}

.overlay.open {
	opacity: .9;
	visibility: visible;
	height: 100%;
}

.overlay.open li {
	animation: fadeInRight .5s ease forwards;
	animation-delay: .35s;
}

.overlay.open li:nth-of-type(2) {
	animation-delay: .4s;
}

.overlay.open li:nth-of-type(3) {
	animation-delay: .45s;
}

.overlay.open li:nth-of-type(4) {
	animation-delay: .50s;
}

.overlay nav {
	position: relative;
	height: 70%;
	top: 70%;
	transform: translateY(-50%);
	font-size: 50px;
	font-family: 'Anton', sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	text-align: center;
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	position: relative;
	height: 100%;

}

.overlay ul li a {
	display: block;
	position: relative;
	color: #000;
	text-decoration: none;
	overflow: hidden;

}

/* .overlay ul li a:hover::after, .overlay ul li a:focus::after, .overlay ul li a:active::after {
	width: 25%;
} */


.overlay ul li a::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0%;
	transform: translateX(-50%);
	height: 3px;
	background: #fff;
	transition: .35s;
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		left: 20%;
	}
	100% {
		opacity: 1;
		left: 0;
	}
	
}


/*................ end of nav overlay................................./*


/*.........................end of header.php......................... */


/*.......................... front-page.php.......................... */

#date {
	color: pink !important;
	font-size: 80px;
	font-family: Anton, sans-serif;
	text-transform: uppercase;
	margin-left: -10% !important;
}

.img-bg {
    height: 800px;
    width:auto;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	margin-top: 0;
	

}


#brand {
	
	margin-top: 15%;
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items:center;
}

#name {
	position: relative;
	top: 70%;
	color: pink;
	font-family: Anton, sans-serif;
}




#subtitle {
	font-family: Anton, sans-serif;
	font-size: 20px;
	/* border-top: solid #fff 3px;
	border-bottom: solid #fff 3px; */
	padding:25px 100px;
	display:inline-block;
	/* background-color: #fff; */
	/* background: rgba(0, 0, 0, 0.7); */
	color: #fff;
	text-transform: uppercase;


}




#img1 {
	background-image:  linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.8)), url('../img/ctrlpkgray.jpg');
	/* background-color: #212121;
	background-blend-mode: multiply; */
}

#img2 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.7)), url('../img/sohogray.jpg');
	margin-top:0;
	color: #fff;
	/* background-color: #C8A585;
	background-blend-mode: multiply; */
}

#img3 {

	background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.8)), url('../img/bethesdactrlpk.jpg');
	margin-top:0;
	color: #fff;
	/* background-color: #212121;
	background-blend-mode: multiply;
 */
}


#img4 {


	background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.8)), url('../img/nycpink.jpg');
	margin-top:0;
	color: #fff;
	/* background-color: pink;
	background-blend-mode: multiply; */

}

.parallax-window {
 
    background: transparent;
    background-size: cover;
	background-attachment: fixed;
	background-position: 30% 50% !important;

}


.content-block {
	height: auto;
	width:auto;
	background-color: #212121 !important;
	color: #fff;
	font-size: 25px;
	padding: 100px;
	background-image:/*  linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), */ url('../img/ctrlpkgray.jpg');
	background-blend-mode: multiply;



}


.content-block2 {
	height: auto;
	width:auto;
	background-color: #212121 !important;
	color: #fff;
	font-size: 25px;
	padding: 100px;
	background-image: /* linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), */ url('../img/bethesdactrlpk.jpg');
	/* background-blend-mode: multiply; */



}



.services {
	height: auto;
	width:auto;
	background-color: #212121 !important;
	color: #fff;
	font-size: 25px;
	padding: 100px;
	background-image: /* linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), */ url('../img/sohogray.jpg');
	background-blend-mode: multiply;
}

.services-button {
	position: absolute;
	top: 100%;
	left: 45%;
}




#devices {
	height: 500px;
	width: 500px;
}

.device-bg {
	background-color: #fff !important;
}

/*...................... end of front-page.php....................... */


/*.....................page-about.php................................ */

#skills {
	background-color: #141414 !important;
	color: #fff;
	background-image: none !important;
}

#skills p {
	font-size: 15px;
}

#skills h3 {
	font-family: Anton, sans-serif;
	color: pink;
	text-transform: uppercase;
}

#skills h4 {
	text-transform: uppercase;
}

.skill-bar span{
	display: table;
	height: 5px;
	background-color: pink;

}

 .devicons {
	font-size: 3em;
}

.glyphicon {
	font-size: 3em;
}
.fa {
	font-size: 3em;
}

.skills li {
	list-style: none;
}

.skills ul {
	position: relative;
	left: -20px;
}

.interests {
 	margin-top: 20%;
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items:center;
	
}

.interests p {
	font-size: 25px;
	text-transform: uppercase;
	font-family: Anton, sans-serif;
	color: #fff;
}

/* .interests .container-fluid {
	border: solid 1px #fff;	

} */

/*.................... end of page-about.php......................... */


/*....................page-work.php...............*/

.featured-project-title {
	position: absolute;
	top: 37%;
	left: 0;
	width: 75%;
	font-size: 30px;
	text-transform: uppercase;	
	line-height: 1.8;
	color: pink;
	padding: 20px;
	font-family: 'Anton', sans-serif;

}

.featured-project-title span {
   letter-spacing: -1px;  
   background: rgb(0, 0, 0);
   background: rgba(0, 0, 0, 0.9);
   padding: 10px; 
   font-size: 35px;
}

.project-thumbnail img {
	position: absolute;
	top: 20%;
}

#project-template-part {
	position: absolute;
	top: 65%;
}

#project_sidebar .fa-search {
	font-size: 2em;
}






/*.................end of page-work.php...............*/












/*........................home.php....................................*/

.tags_list {
	display: inline-block;
}

.tags_list a {
	color: #fff;
}


#page-blog {
		background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url('../img/bklynbridge.jpg') center no-repeat;
		/* background-color: pink;
	background-blend-mode: multiply; */
		 -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;


} 

.cols {
	min-height: 850px;
	background-color: #212121;
	color:  #fff;
	margin-top: 5%;
	background: rgb(0, 0, 0);
   background: rgba(0, 0, 0, 0.8);

}

.featured_photo, .blog-title, .template-part {
	position: relative;
	left: 3%;
}

.template-part p {
	width: 75%;
}


.featured-blog-title {
	position: absolute;
	top: 60%;
	left: 0;
	width: 75%;
	font-size: 30px;
	text-transform: uppercase;	
	line-height: 1.8;
	color: pink;
	padding: 20px;
	font-family: 'Anton', sans-serif;

}

.featured-blog-title span {
   letter-spacing: -1px;  
   background: rgb(0, 0, 0);
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
   font-size: 35px;
}



.featured-thumbnail img {
	position: absolute;
	top: 20%;
}


.latest-blog-title {
	position: absolute;
	left: 15%;
	width: 75%;
	text-transform: uppercase;	
	line-height: 1.8;
	color: pink;
	padding: 20px;
	font-family: 'Anton', sans-serif;

}

.latest-blog-title span a {
   letter-spacing: -1px;  
   background: rgb(0, 0, 0);
   background: rgba(0, 0, 0, 0.9);
   padding: 10px; 
   font-size: 35px;
   color: pink;
}

.template-part {
	position: absolute;
	top: 80%;
}




.left-div {
	width: 800px;
	position: relative;
	float: left;
	left: 3%;


}

.right-div {
	width: 350px;
	position: relative;
	float: right;
	right: 3%;

}

#featured {
	position: relative;
	left: 0;
}

#featured p, #post_date p, #recent_posts h1 {
	position: relative;
	left: 5%;
	font-size: 25px;

}




#post_date {
	
	color: #fff;
	font-size: 2em;
	padding-bottom: 2px;
	position: absolute;
	top: 53%;
	left: 2.9%;
	z-index: 1;
	background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.7);
    font-family: Anton, sans-serif;
}

#post_category {
	background-color: #fff;
	color: #000;
	padding: 0px 5px;
}




#blog_photo {
	position: relative;
	top: 5% !important;
}

#blog_sidebar .fa-search {
	font-size: 2em;
}



.post_container {
	background-color: #212121;
	color: #fff;
	height: auto;
	position: relative;
	left: 1%;
	margin-top: 1%;
	margin-bottom: 1%;
	width: 95% !important;
	background: rgb(0, 0, 0);
   background: rgba(0, 0, 0, 0.9);
}






#border-right:not(:last-child) {
	border-right: solid 1px pink;
}



/*............................end of home.php........................ */




/*.......................... footer.php.............................. */

.footer {
	background-color: #000;
	color: #fff;

}

.footer a {
	color: #fff;

}

.footer a:hover {
	color: #fff;


}

.footer ul {
	list-style: none;
}

.site_links li a{
	position: relative;
	left: -7%;

}

.social-media {
	list-style: none;
	display: inline-block;
}

.social-media li {
	display: inline-block;
	padding: 10px;



}

#WordPress{
	font-size: 3em;
}

#WordPress  {
	color: #fff;
	text-decoration: none;

}

#WordPress:hover {
	color: #fff;
	text-decoration: none;
}

#WordPress:visited {
	color: #fff;
	text-decoration: none;
}



/*........................ end of footer.php........................ */




/*.......................... single.php.............................. */

 .main-blog {
 	background-color: #212121;
 	color: #fff;
 	height: auto;
 	width: auto;
 	background: rgb(0, 0, 0);
   background: rgba(0, 0, 0, 0.9);


}

.content p {

	column-width: 150px;
	-webkit-column-width: 150px;
	-moz-column-width: 150px;
	column-gap: 30px;
	-webkit-column-gap: 30px;
	-moz-column-gap: 30px;
	font-family: Times New Roman;
	font-size: 20px;
	column-count: 3;
	line-height: 1.8em;


}

.content p a {
	color: pink;

}

.content p a:hover {
	text-decoration: none;
}


.pull-left {
	height: 200px;
	width: 200px;
}



.tags {
	list-style: none;
	display: inline-block;
	font-family: Anton, sans-serif;
	text-transform: uppercase;
	font-size: 20px;

}


.tags li a {
	color: pink;
	
}

.tags li a:hover {
	text-decoration: none;
	color: #fff;
     -webkit-transition: color 0.5s linear; 
    -moz-transition: color 0.5s linear;
    -ms-transition: color 0.5s linear;
    -o-transition: color 0.5s linear;
     transition: color 0.5s linear;

}







/* .....................end of single.php....................... */


/*......................portfolio-page.......................*/

.project-info {
	padding-left: 30px;
	color: #fff;
	font-family: 'Arimo', sans-serif;
	border: solid #fff;
}


.project-info h1 {
	font-family: 'Anton', sans-serif;
	color: #fff;
}

.project-meta h3 {
	font-weight:bold;
	color: #fff;
}

.project-meta li {
	list-style: none;
}

.key-highlights li {
	list-style: circle;
}

.project-button a p {
	color: #fff;
	border: 1px solid #fff;
	font-size: 17px;
	padding: 7px 12px;
	font-weight: normal;
	margin-right: 12px;
	display: inline-block;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	min-width: 120px;
	background-color: transparent;
	text-transform: uppercase;
	
}

.project-button a {
	color: #fff !important;

}

.project-button a p:hover {
	color: #000 !important;
	text-decoration: none;
	background-color: pink;
	-webkit-transition: background-color 0.5s linear; 
    -moz-transition: background-color 0.5s linear;
    -ms-transition: background-color 0.5s linear;
    -o-transition: background-color 0.5s linear;
     transition: background-color 0.5s linear;

}


/*......................end of portfolio-page.................*/


/* search.php */

.results {
	background-color: #212121;
	color: #fff;
	margin-top: 20px;
	margin-bottom: 20px;
	background: rgb(0, 0, 0);
   background: rgba(0, 0, 0, 0.9);

}

.fa-search {
  position: absolute;
  top: 10%;
  left: 3%;
  font-size: 2em;
}

#search {
	position: absolute;
	left: 15%;
	top: 60px;
}

#search {
	width: 70%;
	border-radius: 0;
	border: none;
	border-bottom: solid pink 2px;
	background-color: transparent;
	color: #fff;
}

#search:focus {
	
  	box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(0, 0, 0, 0);
}




/* end of search.php */


/* content-search.php */

.results h1 {
	text-transform: uppercase;	
	/* line-height: 1.8; */
	color: pink;
	padding: 20px;
	font-size: 30px;
	font-family: 'Anton', sans-serif;
	
}

/* end of content-search.php */


/* sidebar.php */

.widget-title {
/* 	background-color: #000;
 */	display: block;
	padding: 35px 0 5px 0;
	margin: 4px 12px;
	width: 200px;
	line-height: 1.1em;
	color: pink;
	text-transform: uppercase;
	font-family: Anton, sans-serif;
	font-size: 20px;
}

.widget-title h1 {
	position: relative;
	left: 5%;
	font-size: 25px;
}

.widgets-area ul {
	list-style: none;
}

.widgets-area li a {
	color: #fff;
}

.widgets-area li a:hover {
	color: pink;
	text-decoration: none;
	-webkit-transition: color 0.5s linear; 
    -moz-transition: color 0.5s linear;
    -ms-transition: color 0.5s linear;
    -o-transition: color 0.5s linear;
     transition: color 0.5s linear;

}

.widget_categories {
	position: relative;
	top: 30px;
}

/* end of sidebar.php */



/*...........................Comments.......................................*/

.avatar {
	height: 50px;
	width: 50px;
}

.reply a {
	text-decoration: none;
	color: #fff;
}

.says {
	display: none;
}


.comment_container {

	background-color: #212121;
	color: #fff;
	height: auto;
	position: relative;
	left: 10px;
	margin-top: 5px;
	margin-bottom: 10px;
	width: 95% !important;
	background: rgb(0, 0, 0);
   background: rgba(0, 0, 0, 0.9);

}

.comments-header, #comments-header {

	text-transform: uppercase;	
	color: pink;
	padding: 20px;
	font-size: 30px;
	font-family: 'Anton', sans-serif;

}

#comment-button {

	color: pink;
	border: 1px solid pink;
	font-size: 17px;
	padding: 7px 12px;
	font-weight: normal;
	margin-right: 12px;
	display: inline-block;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	min-width: 120px;
	background-color: transparent;
	width: 100%;

}



#comment-button:hover {
	color: #000;
	background-color: pink;
	border-color: pink;
	text-decoration: none;
	-webkit-transition: background-color 0.5s linear; 
    -moz-transition: background-color 0.5s linear;
    -ms-transition: background-color 0.5s linear;
    -o-transition: background-color 0.5s linear;
     transition: background-color 0.5s linear;

}

 li {
	list-style: none;
}

.comment-edit-link {
	display: none;
}






#author, #email, #url, #comment {

	border-radius: 0;
	border: solid pink 2px;
	background-color: transparent;
	color: pink;


}

/* .comment-meta span {
	color: pink;
} */




/*............................End of Comments........................*/


/*..............................Contact Form...........................*/

.contact-container {
	background-color: #212121;
	background: rgb(0, 0, 0);
   background: rgba(0, 0, 0, 0.7);
}

.wpcf7 .form-control {

	color: #fff;
	border: 1px solid #fff;
	font-size: 17px;
	padding: 7px 12px;
	font-weight: normal;
	margin-right: 12px;
	display: inline-block;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	min-width: 120px;
	background-color: transparent;
	border-radius: 0;
	width: 50%;

}


.wpcf7-submit {

	color: #fff;
	border: 1px solid #fff;
	font-size: 17px;
	padding: 7px 12px;
	font-weight: normal;
	margin-right: 12px;
	display: inline-block;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	min-width: 120px;
	background-color: transparent;

}

.wpcf7-submit:hover {
	background-color: pink;
	color: #000;
	-webkit-transition: background-color 0.5s linear; 
    -moz-transition: background-color 0.5s linear;
    -ms-transition: background-color 0.5s linear;
    -o-transition: background-color 0.5s linear;
     transition: background-color 0.5s linear;
}

/*..............................End of Contact Form............................*/



@media only screen and (max-width: 48em) {

/*..........................header.................................*/

	#toggle {
	
	top: 6%;
}

.overlay li a {
	font-size: 0.8em !important;
}


/*.........................end of header...............................*/





/*.........................front-page.php..............................*/

.latest-post img {

	width: 100%;
	height: auto;

}

.latest-blog-title span a {
	
	font-size: 25px;
	width: 100%;

}

.services-button {
	position: absolute;
	left: 37%;
}




/*..........................end of front-page.php..........................*/






/*......................................home.php................................*/
	#page-blog {
		min-height: 100% !important;


	}




	.left-div {
	width: auto;
}

	.right-div {
		width: auto;
		left: -9%;
	}


	.post_container {
	height: 1500px;
	width: 100%;

}

#post_date {
	
	
	top: 235px !important;
	left: 3.8%;
	
}

.featured-blog-title {
	top: 350px !important;
	line-height: 2.5em;
}

.parallax-window {
		background-position: 50% 50% !important;


}










/*.......................................end of home.php..................................*/


/* content-search.php */

.results-content {

	position: absolute;
	left: 30%;
}

/* end of content-search.php */




}



/*.......................... iphone 5 and below ................................*/

@media (min-width:320px) and (max-width: 568px)
  
 { 




  /*....................header....................*/
	.navbar-brand img {
		height: 75px;
		width: 75px;
	}

	#my-name {
		font-size: 1.5em !important;
	}

	#toggle {
		top: 7%;
	}

	.overlay li a {
		font-size: 0.7em;
	}

  /*......................end of header ..............*/

  /*......................front-page.php....................*/

  .img-bg {
  	background-position: center;
  	background-attachment: scroll;
  }

  .content-block {
  	background-color: #141414 !important;
  	background-image: none;
  }


	#brand {
		margin-top: 50%;
	}

	#name {
		font-size: 2.5em !important;
	}

	#subtitle {
		font-size: 1em;
	}

	#date {
		font-size: 1em;

	}

	#latest-post-container {
		margin-top: 20%;
	}

	.latest-blog-title span a {
		font-size: 0.5em;
		padding: 8px;
		letter-spacing: -1px;
		background: none;
		

	

	}

	.parallax-window {
		background-position: 50% 50% !important;

	}

	.services {
		background-position: center;

	}

	#my_services {
		padding: 50%; 
		left: -50%;
	}

	#my_services p {
		font-size: 0.5em;
		width: 100px !important;

	}

	/* #code {
		float: left;
		margin-right: 50px;

	}

	#clock {
		float: left;
		margin-right: 50px;
	}
 */
	.services-button {
		position: absolute;
		top: 105%;
		left: 50%;
	}

	/*........................end of front-page.php.................*/




	/*.........................page-about.php......................*/
	
	.article_about {
		font-size: 0.9em !important;
	}

	.devicons {
		font-size: 2em;
	}

	.col-md-3 h4 {
		font-size: 0.5em;
	}


	/*..........................end of page-about.php...............*/
	
	/*..........................page-work.php.......................*/

	

	#featured_project_post {
		width:100%;
		left: -3%;
		height: auto;
	}

	#project-title span{
		font-size: 1em;
		position: absolute;
		top: -40%;
	}


	#project-template-part {
		position: absolute;
		top: 60%;
	}

	
	
	#project_sidebar {

		width: 100%;
		left: -3%;

	}

	#all_projects_container {
		width: 100% !important;
		left: 1%;
	}



	.post_container .col-xs-4 {
		width: 100%;
	}
	
	/*..........................end of page-work.php...................*/



	/*..........................home.php.......................*/


	#new_blog_post {
	width: 100%;
 	left: -3% ;

	}
	
	#blog_sidebar {

		width: 100%;
		left: -3%;

	}

	#blog_post_container {
		width: 100%;
		left: -5%;
	}


	#post_date {
	
	
		position: absolute;
		top: 25% !important;
		left: -2%;
		font-size: 0.5em !important;
		width: 100px;
	
	}

	#post_date p {
	
		font-size: 1.7em;

	
	}


	.featured-blog-title span {
		position: absolute;
		top: -230%;
		line-height: 1.5em;
		left: 3.5%;
	}

	.featured-blog-title span {
		
		font-size: 0.5em;
	}

	.template-part {
		position: absolute;
		top: 50%;
	}

	#border-right:not(:last-child) {
	border-right: none;
	}

	.recent-blog-posts {
		left: 5%;
	}


	









	
	/*..........................end of home.php...................*/

	/*...........................single.php.......................*/
	.wp-post-image {
		width: 100%;
		object-fit: cover;
	}
	/*...........................end of single.php.................*/



	/*...........................content-search.php.......................*/

	.results-content h2{
		font-size: 1.5em !important;
		
	}
	
	.results-content p, .results-content .tags {
		display: none;

	}




	.results-content .ghost-button {
		position: absolute;
		top: 150%;
		left: -150%;
	}

	.results_col {
		height: 100%;
	}


	
	/*...........................end of content-search.php.................*/



	/*.......................contact.php........................*/

	.wpcf7 .form-control {
		width: 100%;
	}

	.wpcf7-submit {
		width: 100%;
	}

	/*...................end of contact.php......................*/
	


	/*........................footer.php.........................*/

	#footer-row {
		margin-left: -15%;
	}


	.footer-logo {
		display: none;
	}

	.site_links li a {
		position: relative;
		left: -10% !important;

	}

	.site_links p {
		position: relative;
		left: 20%;
	}

	/* .recent_posts_list a {

		font-size: 0.7em !important;
		max-width:  20px !important;

	} */


	.recent-post-links {
		display: none;
	}

	.social-media li {
		padding: 0;
		display: inline !important;
	}

	/* .social-media img {
	height: 20px;
	width: 20px;
	} */

	.footer-contact small p {
		width: 100px;
		position: relative;
		left:  42%;

	}

	#WordPress {
		position: relative;
		left: 5%;
		font-size: 2em;
	}




	/*.......................end of footer.php....................*/



  }

  /*.....................................end of iPhone 5 and below...................*/



















 



























/*.......................... iphone 6 and +................................*/

@media (min-width:375px) and (max-width: 667px)
  
 { 




  /*....................header....................*/
	.navbar-brand img {
		height: 75px;
		width: 75px;
	}

	#my-name {
		font-size: 1.5em !important;
	}

	#toggle {
		top: 7%;
	}

	.overlay li a {
		font-size: 0.7em;
	}

  /*......................end of header ..............*/

  /*......................front-page.php....................*/

  .img-bg {
  	background-position: center;
  	background-attachment: scroll;
  }

  .content-block {
  	background-color: #141414 !important;
  	background-image: none;
  }


	#brand {
		margin-top: 50%;
	}

	#name {
		font-size: 3em !important;
	}

	#subtitle {
		font-size: 1.2em;
	}

	#date {
		font-size: 1.5em;
	}

	#latest-post-container {
		margin-top: 20%;
	}

	.latest-blog-title span a {
		font-size: 0.5em;
		padding: 8px;
		letter-spacing: -1px;
		background: none;
		

	

	}

	.parallax-window {
		background-position: 50% 50% !important;

	}

	.services {
		background-position: center;

	}

	#my_services {
		padding: 50%; 
		left: -31%;
	}

	#my_services p {
		font-size: 0.5em;
		width: 100px !important;

	}

	/* #code {
		float: left;
		margin-right: 50px;

	}

	#clock {
		float: left;
		margin-right: 50px;
	}
 */
	.services-button {
		position: absolute;
		top: 105%;
		left: 50%;
	}

	/*........................end of front-page.php.................*/




	/*.........................page-about.php......................*/
	
	.article_about {
		font-size: 0.9em !important;
	}


	/*..........................end of page-about.php...............*/
	
	/*..........................page-work.php.......................*/

	

	#featured_project_post {
		width:100%;
		left: -3%;
		height: auto;
	}

	#project-title span{
		font-size: 1em;
	}

	
	
	#project_sidebar {

		width: 100%;
		left: -3%;

	}

	#all_projects_container {
		width: 100% !important;
		left: 1%;
	}



	.post_container .col-xs-4 {
		width: 100%;
	}
	
	/*..........................end of page-work.php...................*/



	/*..........................home.php.......................*/


	#new_blog_post {
	width: 100%;
 	left: -3% ;

	}
	
	#blog_sidebar {

		width: 100% !important;
		left: -3%;

	}

	#blog_post_container {
		width: 100% !important;
		left: -5%;
	}


	#post_date {
	
	
		position: absolute;
		top: 30% !important;
		left: -2%;
		font-size: 0.5em !important;
		width: 100px;
	
	}

	#post_date p {
	
		font-size: 1.7em;

	
	}


	.featured-blog-title span {
		position: absolute;
		top: -100%;
		line-height: 1.5em;
		left: 3.5%;
	}

	.featured-blog-title span {
		
		font-size: 0.5em;
	}

	.template-part {
		position: absolute;
		top: 60%;
	}

	#border-right:not(:last-child) {
	border-right: none;
	}

	.recent-blog-posts {
		left: 5%;
	}


	









	
	/*..........................end of home.php...................*/

	/*...........................single.php.......................*/
	.wp-post-image {
		width: 100%;
		object-fit: cover;
	}


	/*...........................end of single.php.................*/



	/*...........................content-search.php.......................*/

	.results-content h2{
		font-size: 1.5em !important;
		
	}
	
	.results-content p, .results-content .tags {
		display: none;

	}




	.results-content .ghost-button {
		position: absolute;
		top: 150%;
		left: -150%;
	}

	.results_col {
		height: 100%;
	}


	
	/*...........................end of content-search.php.................*/



	/*.......................contact.php........................*/

	.wpcf7 .form-control {
		width: 100%;
	}

	.wpcf7-submit {
		width: 100%;
	}

	/*...................end of contact.php......................*/
	


	/*........................footer.php.........................*/

	#footer-row {
		margin-left: -15%;
	}


	.footer-logo {
		display: none;
	}

	.site_links li a {
		position: relative;
		left: -10% !important;

	}

	.site_links p {
		position: relative;
		left: 20%;
	}

	/* .recent_posts_list a {

		font-size: 0.7em !important;
		max-width:  20px !important;

	} */


	.recent-post-links {
		display: none;
	}

	.social-media li {
		padding: 0;
		display: inline !important;
	}

	/* .social-media img {
	height: 20px;
	width: 20px;
	} */

	.footer-contact small p {
		width: 100px;
		position: relative;
		left:  42%;

	}

	#WordPress {
		position: relative;
		left: 5%;
		font-size: 2em;
	}




	/*.......................end of footer.php....................*/



  }

  /*.....................................end of iPhone 6 and +...................*/


  /*............................iPhone Landscape........................*/


  @media (min-width: 375px) and (max-width: 667px) and (orientation: landscape)  {

  	/*...................header..............................*/

  	#my-name {
		position: relative;
  		margin-top: 5%;

  	}

  	.overlay li a {
  		font-size: 0.6em;
  	}

  	#toggle {
  		top: 10%;
  	}


  	/*.....................end of header.......................*/

   /*......................front-page.php....................*/

  	#brand {
  		position: absolute;
  		top: -55%;
  	}

  	.services {
		background-color: #212121 !important;
		background-image: none;
		height: 700px;
	}

  	#my_services {
  	
		left: -15%;
		margin-top: -50%;
	}

	.services-button {
		position: absolute;
		top: 80%;
	}

	/*........................end of front-page.php.................*/


		/*..........................home.php.......................*/




	#post_date {
		position: absolute;
		top: 50% !important;
		left: 1%;
	
	
	}

	


	.featured-blog-title {
		position: absolute;
		top: 60% !important;
	}

	.template-part {
		position: absolute;
		top: 70% !important;
	}

	
	
	/*..........................end of home.php...................*/



	/*........................footer.php.........................*/
	

	.site_links p {
		position: relative;
		left: 15%;
	}

	.site_links li a {
		position: relative;
		left: 5% !important;

	}

	.social-media li {
		position: relative;
		left: 10%;
	}

	.footer-contact small p {
		position: relative;
		left: 47% !important;

	}

	#WordPress {
		position: relative;
		left: 5% !important;
	}

	.recent-post-links, .footer-logo {
		display: block;
	}

	#footer-logo {
		height: 100px;
		width: 100px;
		position: relative;
		left: 25% !important;

	}

	



	/*.......................end of footer.php....................*/
	

  }





  /*.............................end of iPhone Landscape.....................*/














 /*.............................iPhone6+ Landscape.....................*/


    @media (min-width: 414px) and (max-width: 736px) and (orientation: landscape)  {

  	/*...................header..............................*/

  	#my-name {
		position: relative;
  		margin-top: 5%;

  	}

  	.overlay li a {
  		font-size: 0.6em;
  	}


  	/*.....................end of header.......................*/

	/*..........................page-work.php.......................*/


	#featured_project_post {
		width: 100% !important;
		left: -3%;
	}

		#project_sidebar {

		width: 100%;
		left: -3%;

	}


	.post_container .col-xs-4 {
		width: 100%;
	}
	

	
	/*..........................end of page-work.php...................*/





	/*..........................home.php.......................*/

	#new_blog_post {
	width: 100% !important;
 	left: -3% ;

	}
	
	#blog_sidebar {

		width: 100% !important;
		left: -3%;

	}


	
	
	/*..........................end of home.php...................*/


	/*.......................contact.php........................*/

	.wpcf7 .form-control {
		width: 100%;
	}

	.wpcf7-submit {
		width: 100%;
	}

	/*...................end of contact.php......................*/
	




  }





  /*.............................end of iPhone6+ Landscape.....................*/









  /*.................... iPad.........................................*/

  @media only screen 
  and (min-width: 768px )
  and (max-width: 1024px )
  and (-webkit-min-device-pixel-ratio: 2)

  {

  	body {
  		overflow-x: hidden;

  	}

  	 /*....................header....................*/

  	 .navbar-fixed-top {
  	 	height: auto;
  	 	padding: 10px;
  	 }

	.navbar-brand img {
		height: 80px;
		width: 80px;
	}

	#my-name {
		font-size: 1.5em !important;
		top: 5%;
	}

	#toggle {
		top: 5%;
		left: 90%;
	}

	.overlay li a {
		font-size: 1.2em !important;
	}

	
  /*......................end of header ..............*/

 /*......................front-page.php....................*/



	.home {
		padding: 0 !important;
		width: 100% !important;
	}

	#brand {
		position: absolute;
		top: 20%;

	}


	#date {
		float: left;
		left: 15%;

	}

	.container {
		padding: 0 !important;
		width: 100% !important;

	}

	body {
		padding: 0 !important;
		width: 100% !important;

	}

	.container-fluid {
		padding: 0 !important;
		width: 100% !important;

	}

	.services-button {
		left: 45%;
	}


	/*........................end of front-page.php.................*/

	/*..........................page-work.php.......................*/

	#featured_project_post {
		width: 100% !important;
	}

	
	
	#project_sidebar {

		width: 100%;
		left: 3%;

	}


	.post_container .col-xs-4 {
		width: 100%;
	}
	

	
	
	/*..........................end of page-work.php...................*/

	

	/*..........................home.php.......................*/


	
	#new_blog_post {
	width: 100% !important;

	}


	
	#blog_sidebar {

		width: 100% !important;
		left: 3%;
		
	}

	#blog_post_container {
		width: 100% !important;
		
	}



	

	/*..........................end of home.php...................*/


	/*.......................contact.php........................*/

	.wpcf7 .form-control {
		width: 100%;
	}

	.wpcf7-submit {
		width: 100%;
	}

	/*...................end of contact.php......................*/


	




  }



	/*...................end of iPad.............................*/



	/*......................iPad Landscape........................*/


	@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {



		/*......................front-page.php....................*/

	#brand {
		position: absolute;
		top: 10%;

	}

  

	#date {

		margin-left: 15%;
	}

	
	.parallax-window {
		background-position: 50% 50% !important;

	}

	

	/*........................end of front-page.php.................*/






	}



	/*.......................end of iPad Landscape...................*/
















	/*........................LG GPad 8.0............................*/


  @media only screen 
  and (min-width: 800px )
  and (max-width: 1280px )
  and (-webkit-min-device-pixel-ratio: 2)
 

  {

  	 /*....................header....................*/

  	 #toggle {
  	 	top: 5% !important;
  	 }

  	

  /*......................end of header ..............*/

 /*......................front-page.php....................*/

	
	/*........................end of front-page.php.................*/

/*......................page-about.php....................*/

	


	/*........................end of page-about.php.................*/




  }

 /*..........................end of LG Gpad 8.0......................*/

