@media only screen and (max-width: 48em) {

/*..........................header.................................*/

	#toggle {
	
	top: 6%;
}

.overlay li a {
	font-size: 0.8em !important;
}


/*.........................end of header...............................*/





/*.........................front-page.php..............................*/

.latest-post img {

	width: 100%;
	height: auto;

}

.latest-blog-title span a {
	
	font-size: 25px;
	width: 100%;

}

.desktop {
	display: none !important;
}

.mobile {
	display: block !important;
}

.services-button {
	position: absolute;
	left: 37%;
}

.victoria-title {
	margin-top: -15%;
	font-size: 0.7em;
}

#work_samples p {
		font-size: 1em;
		margin-top: 10%;

	}




/*..........................end of front-page.php..........................*/






/*......................................home.php................................*/
	#page-blog {
		min-height: 100% !important;


	}




	.left-div {
	width: auto;
}

	.right-div {
		width: auto;
		left: -9%;
	}


	.post_container {
	height: 1500px;
	width: 100%;

}

#post_date {
	
	
	top: 235px !important;
	left: 3.8%;
	
}

.featured-blog-title {
	top: 350px !important;
	line-height: 2.5em;
}

.parallax-window {
		background-position: 50% 50% !important;


}










/*.......................................end of home.php..................................*/


/* content-search.php */

.results-content {

	position: absolute;
	left: 30%;
}

/* end of content-search.php */






.footer {
	display: none !important;
}

.mobile-footer {
	display: block !important;
	background-color: #000;
	color: #fff;

}

.mobile-footer a {
	color: #fff;

}

.mobile-footer a:hover {
	color: #fff;


}

.mobile-footer ul {
	list-style: none;
}

.mobile-site_links li a{
	position: relative;
	left: -2%;

}

.mobile-social-media {
	list-style: none;
	display: inline-block;
	margin-left: -5%;
	
}

.mobile-social-media li {
	display: inline-block;
	padding: 10px;


}

#mobile-footer-logo {
	margin-left: 43% !important;
	height: 100px;
	width: 100px;
}

}



/*.......................... iphone 5 and below ................................*/

@media screen and (min-device-width:320px) and (max-device-width: 568px)
  
 { 




  /*....................header....................*/
	.navbar-brand img {
		height: 75px;
		width: 75px;
		margin-left: -20%;
	}

	#my-name {
		font-size: 1.5em !important;
		margin-left: -10%;
	}

	#toggle {
		top: 7%;
	}

	.overlay li a {
		font-size: 0.7em;
	}

  /*......................end of header ..............*/

  /*......................front-page.php....................*/

  .img-bg {
  	background-position: center;
  	background-attachment: scroll;
  }

  .content-block {
  	background-color: #141414 !important;
  	background-image: none;
  }


	#brand {
		margin-top: 50%;
	}

	#name {
		font-size: 2.5em !important;
	}

	#subtitle {
		font-size: 1em;
	}

	#date {
		font-size: 1em;

	}

	#latest-post-container {
		margin-top: 20%;
	}

	.latest-blog-title span a {
		font-size: 0.5em;
		padding: 8px;
		letter-spacing: -1px;
		background: none;
		

	

	}

	#testimonials {
		margin-left: -20%;
	}

	.parallax-window {
		background-position: 50% 50% !important;

	}

	#work_samples p {
		font-size: 0.5em;

	}

	.victoria-title {
		font-size: 0.5em;
		margin-top: -15%;
	}

	.services {
		background-color: #141414 !important;
  		background-image: none;

	}

	.services-button p {
		text-align: center;
	}

	.desktop {
		display: none !important;
	}

	.mobile {
		display: block !important;
	}


	#my_services {
		padding: 50%; 
		left: -40%;
		margin-top: -25%;
	}

	#my_services p {
		font-size: 0.5em;
		width: 100px !important;

	}

	/* #code {
		float: left;
		margin-right: 50px;

	}

	#clock {
		float: left;
		margin-right: 50px;
	}
 */
	.services-button {
		position: absolute;
		top: 105%;
		left: 50%;
	}

	/*........................end of front-page.php.................*/




	/*.........................page-about.php......................*/
	
	.article_about {
		font-size: 0.9em !important;
		margin-top: -40%;
	}

	.devicons {
		font-size: 2em;
	}

	.col-md-3 h4 {
		font-size: 0.5em;
	}


	#interest_statement {
		font-size: 2em !important;
	}

	.interests i  {
		font-size: 1.5em;
	}

	.interests p  {
		font-size: 0.8em;
	}



	/*..........................end of page-about.php...............*/
	
	/*..........................page-work.php.......................*/

	

	#featured_project_post {
		width:100%;
		left: -3%;
		height: auto;
	}

	#project-title span{
		font-size: 1em;
		position: absolute;
		top: -40%;
	}


	#project-template-part {
		position: absolute;
		top: 60%;
	}

	
	
	#project_sidebar {

		width: 100%;
		left: -3%;

	}

	#all_projects_container {
		width: 100% !important;
		left: 1%;
	}



	.post_container .col-xs-4 {
		width: 100%;
	}
	
	/*..........................end of page-work.php...................*/



	/*..........................home.php.......................*/


	#new_blog_post {
	width: 100%;
 	left: -3% ;

	}
	
	#blog_sidebar {

		width: 100%;
		left: -3%;

	}

	#blog_post_container {
		width: 100%;
		left: -5%;
	}


	#post_date {
	
	
		position: absolute;
		top: 25% !important;
		left: -2%;
		font-size: 0.5em !important;
		width: 100px;
	
	}

	#post_date p {
	
		font-size: 1.7em;

	
	}


	.featured-blog-title span {
		position: absolute;
		top: -230%;
		line-height: 1.5em;
		left: 3.5%;
	}

	.featured-blog-title span {
		
		font-size: 0.5em;
	}

	.template-part {
		position: absolute;
		top: 50%;
	}

	#border-right:not(:last-child) {
	border-right: none;
	}

	.recent-blog-posts {
		left: 5%;
	}


	









	
	/*..........................end of home.php...................*/

	/*...........................single.php.......................*/
	.wp-post-image {
		width: 100%;
		object-fit: cover;
	}
	/*...........................end of single.php.................*/



	/*...........................content-search.php.......................*/

	.results-content h2{
		font-size: 1.5em !important;
		
	}
	
	.results-content p, .results-content .tags {
		display: none;

	}




	.results-content .ghost-button {
		position: absolute;
		top: 150%;
		left: -150%;
	}

	.results_col {
		height: 100%;
	}


	
	/*...........................end of content-search.php.................*/



	/*.......................contact.php........................*/

	.wpcf7 .form-control {
		width: 100%;
	}

	.wpcf7-submit {
		width: 100%;
	}

	/*...................end of contact.php......................*/
	


	/*........................footer.php.........................*/

	/* #footer-row {
		margin-left: -15%;
	}


	.footer-logo {
		display: none;
	}
 */
	/* .site_links li a {
		padding: 10px !important;

	} */
/* 
	.site_links p {
		position: relative;
		left: 20%;
	}  */

	/* .recent_posts_list a {

		font-size: 0.7em !important;
		max-width:  20px !important;

	} */
	
	.footer {
		display: none !important;
	}

	.mobile-footer {
		display: block !important;
	}	

	.mobile-recent-post-links p {
		margin-left: 0%;

	}

	#mobile-recent-post-links-title {
		margin-left: 10%;

	}

	.mobile-social-media {
		list-style: none;
		display: inline-block;
		margin-left: -5%;
	
	}

	.mobile-social-media li {
		display: inline-block;
		padding: 10px;


}

#mobile-footer-logo {
		margin-left: 37% !important;
		height: 100px;
		width: 100px;
}

	






	/*.......................end of footer.php....................*/



  }

  /*.....................................end of iPhone5 and below...................*/







/*...............................iPhone5 Landscape.......................*/

@media screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {

	#my-name {
	
		margin-left: -5% !important;


	}

	#testimonials {
		margin-left: 0%;
	}

	#my-services {
		margin-left: 0%;
	}


	.mobile-recent-post-links p {
		margin-left: 0%;

	}

	#mobile-recent-post-links-title {
		margin-left: 5%;

	}

	

	#mobile-footer-logo {
		margin-left: 43% !important;
		height: 100px;
		width: 100px;
	}


	.mobile-social-media {
		
		margin-left: -3%;
	
	}

	





}





/*...............................end of iPhone5 Landscape.......................*/











 



























/*.......................... iphone 6 and +................................*/

@media screen and (min-device-width:375px) and (max-device-width: 667px)
  
 { 




  /*....................header....................*/
	.navbar-brand img {
		height: 75px;
		width: 75px;
	}

	#my-name {
		font-size: 1.5em !important;
	}

	#toggle {
		top: 7%;
	}

	.overlay li a {
		font-size: 0.7em;
	}

  /*......................end of header ..............*/

  /*......................front-page.php....................*/

  .img-bg {
  	background-position: center;
  	background-attachment: scroll;
  }

  .content-block {
  	background-color: #141414 !important;
  	background-image: none;
  }


	#brand {
		margin-top: 50%;
	}

	#name {
		font-size: 3em !important;
	}

	#subtitle {
		font-size: 0.8em;
	}

	#date {
		font-size: 1.5em;
	}

	#latest-post-container {
		margin-top: 20%;
	}

	.latest-blog-title span a {
		font-size: 0.5em;
		padding: 8px;
		letter-spacing: -1px;
		background: none;
		

	

	}

	.parallax-window {
		background-position: 50% 50% !important;

	}


	#testimonials {
		margin-left: 0%;
	}

	.services {
		background-color: #141414 !important;
  		background-image: none;

	}

	#my_services {
		padding: 50%; 
		left: -25%;
	}

	#my_services p {
		font-size: 0.5em;
		width: 100px !important;

	}

	/* #code {
		float: left;
		margin-right: 50px;

	}

	#clock {
		float: left;
		margin-right: 50px;
	}
 */
	.services-button {
		position: absolute;
		top: 105%;
		left: 50%;
	}

	/*........................end of front-page.php.................*/




	/*.........................page-about.php......................*/
	
	.article_about {
		font-size: 0.9em !important;
		margin-top: -25%;
	}

	#interest_statement {
		font-size: 2em !important;
	}

	.interests i  {
		font-size: 1.5em;
	}

	.interests p  {
		font-size: 1em;
	}


	/*..........................end of page-about.php...............*/
	
	/*..........................page-work.php.......................*/

	

	#featured_project_post {
		width:100%;
		left: -3%;
		height: auto;
	}

	#project-title span{
		font-size: 1em;
	}

	
	
	#project_sidebar {

		width: 100%;
		left: -3%;

	}

	#all_projects_container {
		width: 100% !important;
		left: 1%;
	}



	.post_container .col-xs-4 {
		width: 100%;
	}
	
	/*..........................end of page-work.php...................*/



	/*..........................home.php.......................*/


	#new_blog_post {
	width: 100%;
 	left: -3% ;

	}
	
	#blog_sidebar {

		width: 100% !important;
		left: -3%;

	}

	#blog_post_container {
		width: 100% !important;
		left: -5%;
	}


	#post_date {
	
	
		position: absolute;
		top: 30% !important;
		left: -2%;
		font-size: 0.5em !important;
		width: 100px;
	
	}

	#post_date p {
	
		font-size: 1.7em;

	
	}


	.featured-blog-title span {
		position: absolute;
		top: -100%;
		line-height: 1.5em;
		left: 3.5%;
	}

	.featured-blog-title span {
		
		font-size: 0.5em;
	}

	.template-part {
		position: absolute;
		top: 60%;
	}

	#border-right:not(:last-child) {
	border-right: none;
	}

	.recent-blog-posts {
		left: 5%;
	}

	.services-button p {
		text-align: center;
	}




	









	
	/*..........................end of home.php...................*/

	/*...........................single.php.......................*/
	.wp-post-image {
		width: 100%;
		object-fit: cover;
	}


	/*...........................end of single.php.................*/



	/*...........................content-search.php.......................*/

	.results-content h2{
		font-size: 1.5em !important;
		
	}
	
	.results-content p, .results-content .tags {
		display: none;

	}




	.results-content .ghost-button {
		position: absolute;
		top: 150%;
		left: -150%;
	}

	.results_col {
		height: 100%;
	}


	
	/*...........................end of content-search.php.................*/



	/*.......................contact.php........................*/

	.wpcf7 .form-control {
		width: 100%;
	}

	.wpcf7-submit {
		width: 100%;
	}

	/*...................end of contact.php......................*/
	


	/*........................footer.php.........................*/

	/* #footer-row {
		margin-left: -15%;
	}
 */

	.footer-logo {
		display: none;
	}

	/* .site_links li a {
		position: relative;
		left: -10% !important;

	}

	.site_links p {
		position: relative;
		left: 20%;
	}
 */
	/* .recent_posts_list a {

		font-size: 0.7em !important;
		max-width:  20px !important;

	} */


	
	.social-media li {
		padding: 0;
		display: inline !important;
	}

	.social-media {
		display: inline-block;

	}

	#mobile-footer-logo {
		margin-left: 40% !important;
	}






	/*.......................end of footer.php....................*/



  }

  /*.....................................end of iPhone 6 and +...................*/


  /*............................iPhone Landscape........................*/


  @media (min-width: 375px) and (max-width: 667px) and (orientation: landscape)  {

  	/*...................header..............................*/

  	#my-name {
		position: relative;
  		margin-top: 5%;

  	}

  	.overlay li a {
  		font-size: 0.6em !important;

  	}

  	#toggle {
  		top: 10%;
  	}


  	/*.....................end of header.......................*/

   /*......................front-page.php....................*/

  	#brand {
  		position: absolute;
  		top: -55%;
  	}

  	#work_samples p {
		font-size: 0.5em;

	}

	.victoria-title {
		font-size: 0.5em;
		margin-top: -15%;
	}


  	.services {
		background-color: #212121 !important;
		background-image: none;
		height: 700px;
	}

  	#my_services {
  	
		left: -10%;
		margin-top: -50%;
	}

	.services-button {
		position: absolute;
		top: 80%;
	}

	/*........................end of front-page.php.................*/


		/*..........................home.php.......................*/




	#post_date {
		position: absolute;
		top: 50% !important;
		left: 1%;
	
	
	}

	


	.featured-blog-title {
		position: absolute;
		top: 60% !important;
	}

	.template-part {
		position: absolute;
		top: 70% !important;
	}

	
	
	/*..........................end of home.php...................*/



	/*........................footer.php.........................*/
	


	.social-media small p {
		position: relative;
		margin-top:  15%;

	}


	#mobile-recent-post-links-title {
		margin-left: 5%;
	}

	.mobile-footer-logo {
		margin-left: 5%;
	}

	.mobile-social-media {
		margin-left: -5%;
	}
	


	/*.......................end of footer.php....................*/
	

  }





  /*.............................end of iPhone Landscape.....................*/














 /*.............................iPhone6+ Landscape.....................*/


    @media (min-width: 414px) and (max-width: 736px) and (orientation: landscape)  {

  	/*...................header..............................*/

  	#my-name {
		position: relative;
  		margin-top: 5%;

  	}

  	.overlay li a {
  		font-size: 0.6em;
  	}


  	/*.....................end of header.......................*/

	/*..........................page-work.php.......................*/


	#featured_project_post {
		width: 100% !important;
		left: -3%;
	}

		#project_sidebar {

		width: 100%;
		left: -3%;

	}


	.post_container .col-xs-4 {
		width: 100%;
	}
	

	
	/*..........................end of page-work.php...................*/





	/*..........................home.php.......................*/

	#new_blog_post {
	width: 100% !important;
 	left: -3% ;

	}
	
	#blog_sidebar {

		width: 100% !important;
		left: -3%;

	}


	
	
	/*..........................end of home.php...................*/


	/*.......................contact.php........................*/

	.wpcf7 .form-control {
		width: 100%;
	}

	.wpcf7-submit {
		width: 100%;
	}

	/*...................end of contact.php......................*/
	




  }





  /*.............................end of iPhone6+ Landscape.....................*/









  /*.................... iPad.........................................*/

  @media only screen 
  and (min-width: 768px )
  and (max-width: 1024px )
  and (-webkit-min-device-pixel-ratio: 2)

  {

  	body {
  		overflow-x: hidden;

  	}

  	 /*....................header....................*/

  	 .navbar-fixed-top {
  	 	height: auto;
  	 	padding: 10px;
  	 }

	.navbar-brand img {
		height: 80px;
		width: 80px;
	}

	#my-name {
		font-size: 1.5em !important;
		top: 5%;
	}

	#toggle {
		top: 5%;
		left: 90%;
	}

	.overlay li a {
		font-size: 1.2em !important;
	}

	
  /*......................end of header ..............*/

 /*......................front-page.php....................*/



	.home {
		padding: 0 !important;
		width: 100% !important;
	}

	#brand {
		position: absolute;
		top: 20%;

	}


	#date {
		float: left;
		left: 15%;

	}

	.container {
		padding: 0 !important;
		width: 100% !important;

	}

	body {
		padding: 0 !important;
		width: 100% !important;

	}

	.container-fluid {
		padding: 0 !important;
		width: 100% !important;

	}

	.services-button {
		left: 45%;
	}


	/*........................end of front-page.php.................*/

	/*..........................page-work.php.......................*/

	#featured_project_post {
		width: 100% !important;
	}

	
	
	#project_sidebar {

		width: 100%;
		left: 3%;

	}


	.post_container .col-xs-4 {
		width: 100%;
	}
	

	
	
	/*..........................end of page-work.php...................*/

	

	/*..........................home.php.......................*/


	
	#new_blog_post {
	width: 100% !important;

	}


	
	#blog_sidebar {

		width: 100% !important;
		left: 3%;
		
	}

	#blog_post_container {
		width: 100% !important;
		
	}



	

	/*..........................end of home.php...................*/


	/*.......................contact.php........................*/

	.wpcf7 .form-control {
		width: 100%;
	}

	.wpcf7-submit {
		width: 100%;
	}

	/*...................end of contact.php......................*/


	




  }



	/*...................end of iPad.............................*/



	/*......................iPad Landscape........................*/


	@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {



		/*......................front-page.php....................*/

	#brand {
		position: absolute;
		top: 10%;

	}

  

	#date {

		margin-left: 15%;
	}

	
	.parallax-window {
		background-position: 50% 50% !important;

	}

	

	/*........................end of front-page.php.................*/






	}



	/*.......................end of iPad Landscape...................*/
















	/*........................LG GPad 8.0............................*/


  @media only screen 
  and (min-width: 800px )
  and (max-width: 1280px )
  and (-webkit-min-device-pixel-ratio: 2)
 

  {

  	 /*....................header....................*/

  	 #toggle {
  	 	top: 5% !important;
  	 }

  	

  /*......................end of header ..............*/

 /*......................front-page.php....................*/

	
	/*........................end of front-page.php.................*/

/*......................page-about.php....................*/

	


	/*........................end of page-about.php.................*/




  }

 /*..........................end of LG Gpad 8.0......................*/

